<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Dash Manager</title>
      <link type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>
      <link type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link type="text/css" href="assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">
      <link type="text/css" href="assets/css/styles.css" rel="stylesheet">
      <link type="text/css" href="assets/plugins/codeprettifier/prettify.css" rel="stylesheet">
      <link type="text/css" href="assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">
      <link rel="shortcut icon" href="assets/icons/favicon.png">
      <!-- Controller -->
      <script src="assets/js/jquery.js"></script>
      <script src="assets/js/angular.min.js"></script>
      <script src="assets/js/angular-cookies.min.js"></script>
      <script src="controllers/events.js"></script>
      <!-- CROPPER -->
      <script src="assets/plugins/cropper/cropper.js"></script>
      <link type="text/css" href="assets/plugins/cropper/cropper.css" rel="stylesheet">
      <link type="text/css" href="assets/plugins/clockface/css/clockface.css" rel="stylesheet">
      <!-- Clockface -->
      <script>
         $(window).ready(function() {
            $('#loading').hide();
         });      
      </script>
      <!-- For Form -->
      <link type="text/css" href="assets/plugins/bootstrap-tokenfield/css/bootstrap-tokenfield.css" rel="stylesheet">
      <!-- Tokenfield -->

      <style type="text/css">
         a.hover {
             color: red;
             text-decoration: none;
         }

         a.hover:hover {
             text-decoration: underline;
         }
      </style>

   </head>
   <body class="animated-content" ng-app="eventsApp" ng-controller="eventsController" ng-cloak>
      <div id="loading"></div>
      <header id="topnav" class="navbar navbar-default navbar-fixed-top" role="banner">
         <div class="logo-area">
            <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
            <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
            <i class="ti ti-menu"></i>
            </span>
            </a>
            </span>
            <a class="navbar-brand" href="index.html" style="width: 125px"></a>
            <h1 style="font-size: 18px; font-weight: bold; text-transform: uppercase">{{schoolFancyName}}</h1>
         </div>
         <ul class="nav navbar-nav toolbar pull-right">
            <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
               <a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></i></a>
            </li>
            <li class="dropdown toolbar-icon-bg hidden-xs">
               <a href="#" class="has
                  tions dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-email"></i></span><span
                  class="badge badge-deeporange">2</span></a>
               <div class="dropdown-menu notifications arrow">
                  <div class="topnav-dropdown-header">
                     <span>Messages</span>
                  </div>
                  <div class="scroll-pane">
                     <ul class="media-list scroll-content">
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Vincent Keller</strong> <span class="text-gray">‒ Design should be ...</span></h4>
                                 <span class="notification-time">2 mins ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Frend Pratt</strong> <span class="text-gray">‒ I will start with the ...</span></h4>
                                 <span class="notification-time">40 mins ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Cynthia Hines</strong> <span class="text-gray">‒ Interior bits are ...</span></h4>
                                 <span class="notification-time">6 hours ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Robin Horton</strong> <span class="text-gray">‒ Are you even ...</span></h4>
                                 <span class="notification-time">8 days ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Amanda Torrez</strong> <span class="text-gray">‒ The message is ...</span></h4>
                                 <span class="notification-time">16 hours ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Khan Farhan</strong> <span class="text-gray">‒ Expected the stuff ...</span></h4>
                                 <span class="notification-time">2 days ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Will Whedon</strong> <span class="text-gray">‒ The movie of this ...</span></h4>
                                 <span class="notification-time">4 days ago</span>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="topnav-dropdown-footer">
                     <a href="#">See all messages</a>
                  </div>
               </div>
            </li>
            <li class="dropdown toolbar-icon-bg">
               <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span class="badge badge-deeporange">2</span></a>
               <div class="dropdown-menu notifications arrow">
                  <div class="topnav-dropdown-header">
                     <span>Notifications</span>
                  </div>
                  <div class="scroll-pane">
                     <ul class="media-list scroll-content">
                        <li class="media notification-success">
                           <a href="#">
                              <div class="media-left">
                                 <span class="notification-icon"><i class="ti ti-check"></i></span>
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading">Update 1.0.4 successfully pushed</h4>
                                 <span class="notification-time">8 mins ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-info">
                           <a href="#">
                              <div class="media-left">
                                 <span class="notification-icon"><i class="ti ti-check"></i></span>
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading">Update 1.0.3 successfully pushed</h4>
                                 <span class="notification-time">24 mins ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-teal">
                           <a href="#">
                              <div class="media-left">
                                 <span class="notification-icon"><i class="ti ti-check"></i></span>
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading">Update 1.0.2 successfully pushed</h4>
                                 <span class="notification-time">16 hours ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-indigo">
                           <a href="#">
                              <div class="media-left">
                                 <span class="notification-icon"><i class="ti ti-check"></i></span>
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading">Update 1.0.1 successfully pushed</h4>
                                 <span class="notification-time">2 days ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-danger">
                           <a href="#">
                              <div class="media-left">
                                 <span class="notification-icon"><i class="ti ti-arrow-up"></i></span>
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading">Initial Release 1.0</h4>
                                 <span class="notification-time">4 days ago</span>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="topnav-dropdown-footer">
                     <a href="#">See all notifications</a>
                  </div>
               </div>
            </li>
            <li class="dropdown toolbar-icon-bg">
               <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
               <img class="img-circle" src="http://placehold.it/300&text=Placeholder" alt="" />
               </a>
               <ul class="dropdown-menu userinfo arrow">
                  <li><a href="#/"><i class="ti ti-settings"></i><span>Account Settings</span></a></li>
                  <li><a href="#/" ng-click="logoutNow()"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
               </ul>
            </li>
         </ul>
      </header>
      <div id="wrapper">
         <div id="layout-static">
            <div class="static-sidebar-wrapper sidebar-default">
               <div class="static-sidebar">
                  <div class="sidebar">
                     <div class="widget stay-on-collapse" id="widget-sidebar">
                        <nav role="navigation" class="widget-body">
                           <ul class="acc-menu">
                              <li><a href="index.html"><i class="ti ti-layout-grid2"></i><span>Dashboard</span><span class="badge badge-teal">2</span></a></li>
                              <li><a href="events.html"><i class="ti ti-bell"></i><span>Events & Notifications</span></span></a></li>
                              <li><a href="attendance.html"><i class="ti ti-upload"></i><span>Upload Attendance</span></span></a></li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-reload"></i><span>Workflow</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="leaves.html">Leaves</a></li>
                                    <li><a href="payments.html">Payments</a></li>
                                    <li><a href="service-requests.html">Requests</a></li>
                                 </ul>
                              </li>
                              <li><a href="inbox.html"><i class="ti ti-email"></i><span>Inbox</span></span></a></li>
                              <li><a href="calendar.html"><i class="ti ti-calendar"></i><span></span>Calendar</span></a></li>
                              <li><a href="student-profile.html"><i class="ti ti-search"></i><span>Search Student</span></span></a></li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-settings"></i><span>Tools</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="home-works.html">Upload Homeworks</a></li>
                                    <li><a href="marklists.html">Upload Marklist</a></li>
                                    <li><a href="messenger.html">Send Message</a></li>
                                    <li><a href="progress-report.html">Progress Report Generator</a></li>
                                    <li><a href="tc-generator.html">TC Generator</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-user"></i><span>Profiles</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="student-profile.html">Students</a></li>
                                    <li><a href="teacher-profile.html">Teachers</a></li>
                                    <li><a href="admin-profile.html">Administrators</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-folder"></i><span>Resources</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="class-management.html">Classes</a></li>
                                    <li><a href="courses.html">Courses</a></li>
                                    <li><a href="time-table.html">Time Tables</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <div class="static-content-wrapper">
               <div class="static-content">
                  <div class="page-content">
                    <ol class="breadcrumb">
                    </ol>
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="info-tile tile-green" ng-click="openType('event')" id="firstTabButton">
                                 <div class="tile-icon"><i class="ti ti-mobile" id="firstIcon"></i></div>
                                 <div class="tile-body" id="firstCount"><span>Events</span></div>
                                 <div class="tile-footer" id="firstTag"><span class="text-default" ng-if="first_tagline != ''">{{first_tagline + " events today"}}</span></div>
                              </div>
                           </div>    
                           <div class="col-md-6">
                              <div class="info-tile tile-green" ng-click="openType('notification')" id="secondTabButton">
                                 <div class="tile-icon"><i class="ti ti-announcement" id="secondIcon"></i></div>
                                 <div class="tile-body" id="secondCount"><span>Notifications</span></div>
                                 <div class="tile-footer" id="secondTag"><span class="text-default" ng-if="second_tagline != ''">{{second_tagline + " notifications today"}}</span></div>
                              </div>
                           </div>                                                        
                           
                        </div>
                        <div data-widget-group="group1">
                           <div class="row">
            <div class="col-md-6">
                                 <div class="panel panel-teal" style="margin-bottom: 10px">
                                    <div class="panel-heading" style="background: #2980b9 !important">
                                       <h2 style="color: #FFF">{{contentType}} History</h2>
                                                         <div class="pull-right hidden-xs" ng-if="isContentFound">
                                 <strong>{{currentDisplayPage}}</strong> of <strong>{{totalDisplayPages}}</strong>
                                 <div class="btn-group ml-sm" ng-if="totalDisplayPages != 1">
                                                 <a href="#" class="btn btn-default" ng-if="currentDisplayPage != 1" ng-click="initializeContent(contentType, currentDisplayPage-1)"><i class="ti ti-angle-left"></i></a>
                                                 <a href="#" class="btn btn-default" ng-if="currentDisplayPage != totalDisplayPages" ng-click="initializeContent(contentType, currentDisplayPage+1)"><i class="ti ti-angle-right"></i></a>
                                             </div>
                               </div>                                        
                                    </div>
                                    <div class="panel-body no-padding">
                                       <p ng-if="!active_content.length" style="padding: 20px; text-align: center" class="ng-scope">You have never used {{contentType}}.</p>
                                       <!-- Display Event -->
                                       <table class="table m-n" ng-if="active_content.length && contentType == 'event' && isContentFound">
                                          <thead>
                                             <tr style="font-weight: 400; color: #2980b9 !important; background: #ecf0f1">
                                                <td></td>
                                                <td>Status</td>
                                                <td>Date</td>
                                                <td>Title</td>
                                                <td>Time From</td>
                                                <td>Time To</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr ng-repeat="content in active_content track by $index">
                                                <td>#{{((currentDisplayPage-1)*10) + $index + 1}}</td>
                                                <td><span ng-show="content.status == 1"><i class="ti ti-thumb-up" aria-hidden="true" style="color: green"></i></span><span ng-show="content.status == 0"><i class="ti ti-thumb-down" aria-hidden="true" style="color: red"></i></span>
                                                <td>{{content.eventDate}}</td>
                                                <td style="font-weight: bold;">{{content.title}}</td>
                                                <td>{{content.timeFrom}}</td>
                                                <td>{{content.timeTo}}</td>
                                                <td><a ng-click="viewMyContent(content)"><i class="fa fa-eye" aria-hidden="true" style="color: #bdc3c7"></i></a></td>
                                                <td><a ng-click="showEditContentWindow(content)"><i class="fa fa-wrench" aria-hidden="true" style="color: #bdc3c7"></i></a></td>
                                                <td><a ng-click="askForDelete(content, contentType)"><i class="ti ti-trash" aria-hidden="true" style="color: #bdc3c7"></i></a></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                       
                                       <!-- Display Notificaitons -->
                                       <table class="table m-n" ng-if="active_content.length && contentType == 'notification' && isContentFound">
                                          <thead>
                                             <tr style="font-weight: 400; color: #2980b9 !important; background: #ecf0f1">
                                                <td></td>
                                                <td>Date</td>
                                                <td>Content</td>                                                
                                                <td></td>
                                                <td></td>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr ng-repeat="content in active_content track by $index">
                                                <td>#{{$index+1}}</td>
                                                <td>{{content.date[0]}}<br>{{content.date[1]}}</td>
                                                <td>
                                                   <strong>{{content.title}}</strong><br>
                                                   {{content.brief}}
                                                </td>                                                
                                                <td><a ng-click="viewMyContent(content)"><i class="fa fa-eye" aria-hidden="true" style="color: #bdc3c7"></i></a></td>
                                                <td><a ng-click="askForDelete(content, 'notification')"><i class="ti ti-trash" aria-hidden="true" style="color: #bdc3c7"></i></a></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                       
                                       
                                       
                                                                              
                                    </div>
                                 </div>
                                    <div class="animated-content btn btn-success" style="float: right" ng-if="!newFirstWindowFlag && !newSecondWindowFlag && !editFirstWindowFlag" ng-click="showNewContentWindow()"><i class="ti ti-plus"></i> Start New</div>                                    
                              </div>
                              
                              
                              
                              
                              <!-- WIZARDS SECTION -->
                              <div class="col-md-6" ng-show="newFirstWindowFlag && !editFirstWindowFlag">
                              
                               <!-- Create New Event -->
                                 <div class="panel panel-bluegray">
                                    <div class="panel-heading" style="background: #27ae60 !important;">
                                       <h2>New Event</h2>
                                    </div>
                                    <div class="panel-body">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <form class="form-horizontal tabular-form">                                       
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Title</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" ng-model="addNewContent.title" placeholder="" class="form-control">
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label class="col-sm-3 control-label">Brief</label>
                                                   <div class="col-sm-8">
                                                      <textarea class="form-control" ng-keyup="eventCharCount()" maxlength="140" ng-model="addNewContent.brief"></textarea>
                                                      <p style="color: #bdc3c7; margin-top: 3px;">{{alertCount}}</p>
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Event Date</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" ng-model="addNewContent.eventDate" id="myEventDate" placeholder="" class="form-control">
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Event Timings</label>
                                                   <div class="col-sm-4">
                                                      <input type="text" ng-model="addNewContent.timeFrom" id="startTime" placeholder="From" class="form-control">
                                                   </div>
                                                   <div class="col-sm-4">
                                                      <input type="text" ng-model="addNewContent.timeTo" id="endTime" placeholder="To" class="form-control">
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Venue</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" ng-model="addNewContent.venue" placeholder="" class="form-control">
                                                   </div>
                                                </div> 
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Host</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" ng-model="addNewContent.host" placeholder="" class="form-control">
                                                   </div>
                                                </div> 
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Recurrance</label>
                                                   <div class="col-sm-8">
                                                      <select ng-model="addNewContent.recurranceFrequency" class="form-control">
                                                      <option value = "0" selected="">One Time Event</option>
                                                      <option value = "1">Repeats Daily</option>
                                                      <option value = "2">Repeats Weekly</option>
                                                      </select>
                                                   </div>
                                                </div>
                                                <div class="form-group" ng-show="addNewContent.recurranceFrequency != 0">
                                                   <label for="form-name" class="col-sm-3 control-label">Recursion End Date</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" ng-model="addNewContent.recursionEndDate" id="endDate" placeholder="" class="form-control">
                                                   </div>
                                                </div>   

                                                <div class="form-group">
                                                   <label class="col-sm-3 control-label">Target Audience Restriction (Optional)</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" class="form-control" ng-model="addNewContent.targetAudience" id="tokenfield-typeahead"/>
                                                      <p style="margin: 5px 0px 0px 0px; color: #bdc3c7; font-size: 12px">Leave it blank if the Event needs to be sent to all users.</p>
                                                      <p style="font-size: 11px; color: #bdc3c7; margin-top: 5px;">Available Targets:<tag ng-repeat="class in myClassList" class="btn btn-info-alt btn-xs" ng-attr-id="{{ 'button_' + class.value }}" style="margin-left: 4px" ng-click="addTargetEvent(class.value)">{{class.value}}</tag> </p>
                                                   </div> 
                                                </div>
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Upload Image</label>
                                                   <div class="col-sm-8">
                                                      <img ng-src="{{myPhotoURL}}" width="100%" style="border: 2px solid #27ae60" ng-if="isPhotoAttached">
                                                      <i class="fa fa-picture-o" style="cursor: pointer; margin-top: 5px; color: #bdc3c7" ng-if="isPhotoAttached" ng-click="attachPhoto()"> Change Image</i>
                                                      <button class="btn-default btn pull-left btn-outline" ng-if="!isPhotoAttached" ng-click="attachPhoto()"> Add Image</button>                                                                  
                                                   </div>
                                                </div>                      


                                             </form>
                                          </div>
                                       </div>
                                       
                                       <p style="color: #e74c3c; font-weight: bold; margin: 10px 0px 0px 0px; text-align: center;">{{newContentSaveError}}</p>
                                       
                                    </div>                                    
                                    
                                    <div class="panel-footer">
                                       <div class="row">
                                          <div class="col-sm-12">
                                             <button class="btn-success btn pull-right" ng-click="saveNewContent(contentType)">Save</button>
                                             <button class="btn-default btn pull-right" style="margin-right: 10px" ng-click="hideNewContent()" >Cancel</button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              
                               <!-- Edit the Event -->
                              <div class="col-md-6" ng-show="editFirstWindowFlag && !newFirstWindowFlag && !newSecondWindowFlag">
                                 <div class="panel panel-bluegray">
                                    <div class="panel-heading" style="background: #f9bd07 !important;">
                                       <h2>Edit the Event</h2>
                                    </div>
                                    <div class="panel-body">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <form class="form-horizontal tabular-form">                                       
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Title</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" ng-model="myEditContent.title" placeholder="" class="form-control">
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label class="col-sm-3 control-label">Brief</label>
                                                   <div class="col-sm-8">
                                                      <textarea class="form-control" ng-keyup="eventCharCount()" maxlength="140" ng-model="myEditContent.brief"></textarea>
                                                      <p style="color: #bdc3c7; margin-top: 3px;">{{alertCount}}</p>
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Event Date</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" ng-model="myEditContent.eventDate" id="myEventDate1" placeholder="" class="form-control">
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Event Timings</label>
                                                   <div class="col-sm-4">
                                                      <input type="text" ng-model="myEditContent.timeFrom" id="startTime1" placeholder="From" class="form-control">
                                                   </div>
                                                   <div class="col-sm-4">
                                                      <input type="text" ng-model="myEditContent.timeTo" id="endTime1" placeholder="To" class="form-control">
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Venue</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" ng-model="myEditContent.venue" placeholder="" class="form-control">
                                                   </div>
                                                </div> 
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Host</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" ng-model="myEditContent.host" placeholder="" class="form-control">
                                                   </div>
                                                </div> 
                                             </form>
                                          </div>
                                       </div>
                                      
                                       <p style="color: #e74c3c; font-weight: bold; margin: 10px 0px 0px 0px; text-align: center;">{{editContentSaveError}}</p>
                                       
                                    </div>                                  
                                    
                                    <div class="panel-footer">
                                       <div class="row">
                                          <div class="col-sm-12">
                                             <button class="btn-success btn pull-right" ng-click="saveEditChanges()">Make Changes</button>
                                             <button class="btn-default btn pull-right" style="margin-right: 10px" ng-click="hideNewContent()" >Cancel</button>
                                             <button class="btn-warning btn pull-left" style="margin-right: 10px" ng-click="cancelEvent(myEditContent.id)" ng-show="myEditContent.status == 1" >Deactivate</button>
                                             <button class="btn-warning btn pull-left" style="margin-right: 10px" ng-click="askForReschedule(myEditContent)" ng-show="myEditContent.status == 0" >Reschedule</button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>

                              
                              
                                  <!-- NOTIFICATIONS -->
                              <div class="col-md-6" ng-show="newSecondWindowFlag">
                                 <div class="panel panel-bluegray" >
                                    <div class="panel-heading" style="background: #27ae60 !important;">
                                       <h2>New Notification</h2>
                                    </div>
                                    <div class="panel-body">

                                       <div class="row">
                                          <div class="col-md-12">
                                             <form class="form-horizontal tabular-form">
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Title</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" ng-model="addNewContent.title" placeholder="" class="form-control" style="color: #3498db; font-weight: 900;">
                                                   </div>
                                                </div>   
                                                                                             
                                                <div class="form-group">
                                                   <label class="col-sm-3 control-label">Content</label>
                                                   <div class="col-sm-8">
                                                      <textarea class="form-control" ng-model="addNewContent.brief"></textarea>
                                                   </div>
                                                </div>

                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Image</label>
                                                   <div class="col-sm-8">
                                                      <img ng-src="{{myPhotoURL}}" width="100%" style="border: 2px solid #27ae60" ng-if="isPhotoAttached">
                                                      <i class="fa fa-picture-o" style="cursor: pointer; margin-top: 5px; color: #bdc3c7" ng-if="isPhotoAttached" ng-click="attachPhoto()"> Change Image</i>
                                                      <button class="btn-default btn pull-left btn-outline" ng-if="!isPhotoAttached" ng-click="attachPhoto()"> Add Image</button>                                                                  
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label class="col-sm-3 control-label">Target Audience Restriction (Optional)</label>
                                                   <div class="col-sm-8">
                                                      <input type="text" class="form-control" ng-model="addNewContent.targetAudience" id="tokenfield-typeahead1"/>
                                                      <p style="margin: 5px 0px 0px 0px; color: #bdc3c7; font-size: 12px">Leave it blank if the Notification needs to be sent to all users.</p>
                                                      <p style="font-size: 11px; color: #bdc3c7; margin-top: 5px;">Available Targets:<tag ng-repeat="class in myClassList" class="btn btn-info-alt btn-xs" ng-attr-id="{{ 'button1_' + class.value }}" style="margin-left: 4px" ng-click="addTargetPush(class.value)">{{class.value}}</tag> </p>
                                                   </div> 
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                       
                                       <p style="color: #e74c3c; font-weight: bold; margin: 10px 0px 0px 0px; text-align: center;">{{newContentSaveError}}</p>
                                       
                                    </div>                                    
                                    
                                    <div class="panel-footer">
                                       <div class="row">
                                          <div class="col-sm-12">
                                             <button class="btn-success btn pull-right" ng-click="saveNewContent(contentType)">Save</button>
                                             <button class="btn-default btn pull-right" style="margin-right: 10px" ng-click="hideNewContent()" >Cancel</button>
                                          </div>
                                       </div>
                                    </div>                                    
                                 </div>
      
                              </div>
                              
                                    <!-- View Modal -->
               <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">                        
                        <div class="modal-body">
                           <p style="font-size: 21px; color: #2980b9" ng-if="contentType != 'coupons'">{{viewContent.title}}</p>
                           <img ng-src="{{viewContent.url}}" style="margin-bottom: 15px" width="100%" ng-if="viewContent.isPhoto">
                           <p style="margin: 0; color: #7f8c8d; font-size: 18px">{{viewContent.brief}}</p>                          
                           <p style="margin: 0; margin-top: 15px; color: #bdc3c7" ng-if="contentType == 'event'">Event Date: <tag style="font-weight: bold; color: #2ecc71">{{viewContent.eventDate}}</tag> | Target Audience: <tag style="font-weight: bold; color: #2ecc71"><span ng-show="viewContent.targetAudience != '' || viewContent.targetAudience != '0'">{{viewContent.targetAudience}}</span><span ng-show="viewContent.targetAudience == '' || viewContent.targetAudience == '0'">Everyone</span></tag> | From: <tag style="font-weight: bold; color: #2ecc71">{{viewContent.timeFrom}}</tag> | To: <tag style="font-weight: bold; color: #2ecc71">{{viewContent.timeTo}}</tag> | Venue: <tag style="font-weight: bold; color: #2ecc71">{{viewContent.venue}}</tag> | Host: <tag style="font-weight: bold; color: #2ecc71">{{viewContent.host}}</tag></p>
                           <p style="margin: 0; margin-top: 15px; color: #bdc3c7" ng-if="contentType == 'notification'">Sent at <tag style="font-weight: bold; color: #2ecc71">{{viewContent.date[0] + " " + viewContent.date[1]}} </tag> | Target Audience: <tag style="font-weight: bold; color: #2ecc71"><span ng-show="viewContent.targetAudience != ''">{{viewContent.targetAudience}}</span><span ng-show="viewContent.targetAudience == ''">Everyone</span></tag></p>                                                      
                        </div>
                        <div class="modal-footer">
                           <p style="margin: 0; float: left; color: #bdc3c7">Created by {{viewContent.user}}</tag></p>
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                     </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->
               
               
               <!-- Image Modal -->
               <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content" style="width: 810px">                        
                        <div class="modal-body">
                        <div class="row" style="padding: 15px">
                                                                        <button class="btn-success btn pull-right" ng-click="saveAttachment()" style="margin-left: 5px" ng-show="photoLoadedToFrame">Save</button>
                           <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
<div style="padding:5px 10px; background:#00ad2d; border:1px solid #00ad2d; position:relative; color:#fff; border-radius:2px; text-align:center; float:left; cursor:pointer">Select an Image<input type="file" id="fileInput" style="position: absolute; z-index: 1000; opacity: 0; cursor: pointer; right: 0; top: 0; height: 100%; font-size: 24px; width: 100%;"/></div>
                        </div>
<div style="margin-top: 10px">
  <img id="image" ng-src="{{myImage}}" style="max-width: 100%;">
</div>                                             
<p style="margin: 0; padding-top: 15px; color: #bdc3c7">Upload High Quality image only. Use minimum 853x480 resolution(Width: 853px Height: 480px). Only JPG, PNG files supported.</p>

                        </div> 
                     </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->
                                                
               
               <!--  Event Delete Modal -->
               <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-body">
                           <p style="font-size: 18px; color: red; margin: 10px 0 0 0;">Are you sure you want to delete '{{askContent.title}}'?</p>
                        </div>                                                                                       
                        <div class="modal-footer">                                                    
                           <button type="button" style="float: left" class="btn btn-default" data-dismiss="modal">Cancel</button>
                           <button type="button" class="btn btn-danger" ng-click="deleteEvent(askContent.id, askContent.isRecurring, 0, askContent.recursionId )">Delete This</button>
                           <button type="button" class="btn btn-danger" ng-show ="askContent.isRecurring" ng-click="deleteEvent(askContent.id, askContent.isRecurring, 1, askContent.recursionId )">Delete All</button>
                        </div>
                     </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->

               <!--  Notification Delete Modal -->
               <div class="modal fade" id="confirmationModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-body">
                           <p style="font-size: 18px; color: red; margin: 10px 0 0 0;">Are you sure you want to delete '{{askContent.title}}'?</p>
                        </div>                                                                                       
                        <div class="modal-footer">                                                    
                           <button type="button" style="float: left" class="btn btn-default" data-dismiss="modal">Cancel</button>
                           <button type="button" class="btn btn-danger" ng-click="deleteNotification(askContent.id)">Delete This</button>
                        </div>
                     </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->

               <!--  Event Reschedule Modal -->
               <div class="modal fade" id="confirmationModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-body">
                           <p style="font-size: 18px; margin: 10px 0 0 0;">Are you sure you want to Reschedule '{{askContent.title}}'?</p>
                        </div>                                                                                       
                        <div class="modal-footer">                                                    
                           <button type="button" style="float: left" class="btn btn-default" data-dismiss="modal">Cancel</button>
                           <button type="button" class="btn btn-warning" ng-click="rescheduleEvent(askContent.id)">Reschedule</button>
                        </div>
                     </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->
                              
               
               
                           </div>
                        </div>
         

         </div> <!-- Container fluid -->
            </div> <!-- Page content -->
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script>                      <!-- Load jQuery -->
      <script type="text/javascript" src="assets/js/jqueryui-1.10.3.min.js"></script>                    <!-- Load jQueryUI -->
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>                       <!-- Load Bootstrap -->
      <script type="text/javascript" src="assets/js/enquire.min.js"></script>                            <!-- Load Enquire -->
      <script type="text/javascript" src="assets/plugins/form-typeahead/typeahead.bundle.min.js"></script>                    <!-- Typeahead for Autocomplete -->
      <script type="text/javascript" src="assets/plugins/velocityjs/velocity.min.js"></script>              <!-- Load Velocity for Animated Content -->
      <script type="text/javascript" src="assets/plugins/velocityjs/velocity.ui.min.js"></script>
      <script type="text/javascript" src="assets/plugins/wijets/wijets.js"></script>                     <!-- Wijet -->
      <script type="text/javascript" src="assets/plugins/codeprettifier/prettify.js"></script>           <!-- Code Prettifier  -->
      <script type="text/javascript" src="assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>       <!-- Swith/Toggle Button -->
      <script type="text/javascript" src="assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->
      <script type="text/javascript" src="assets/plugins/iCheck/icheck.min.js"></script>                    <!-- iCheck -->
      <script type="text/javascript" src="assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->
      <script type="text/javascript" src="assets/js/application.js"></script>
      <script type="text/javascript" src="assets/demo/demo.js"></script>
      <script type="text/javascript" src="assets/plugins/form-validation/jquery.validate.min.js"></script>                 <!-- Validate Plugin -->
      <script type="text/javascript" src="assets/plugins/form-stepy/jquery.stepy.js"></script>                          <!-- Stepy Plugin -->
      <script type="text/javascript" src="assets/plugins/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>          <!-- Tokenfield -->
      <script type="text/javascript" src="assets/demo/demo-formwizard.js"></script>
      <script type="text/javascript" src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> <!-- DateTime Picker -->
      <script type="text/javascript" src="assets/plugins/clockface/js/clockface.js"></script>                         <!-- Clockface -->

   </body>
</html>