<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Dash Manager</title>
      <link type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>
      <link type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link type="text/css" href="assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">
      <link type="text/css" href="assets/css/styles.css" rel="stylesheet">
      <link type="text/css" href="assets/plugins/codeprettifier/prettify.css" rel="stylesheet">
      <link type="text/css" href="assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">
      <link rel="shortcut icon" href="assets/icons/favicon.png">
      <!-- Controller -->
      <script src="assets/js/jquery.js"></script>
      <script src="assets/js/angular.min.js"></script>
      <script src="assets/js/angular-cookies.min.js"></script>
      <script src="controllers/polls.js"></script>
      <!-- CROPPER -->
      <script src="assets/plugins/cropper/cropper.js"></script>
      <link type="text/css" href="assets/plugins/cropper/cropper.css" rel="stylesheet">
      <link type="text/css" href="assets/plugins/clockface/css/clockface.css" rel="stylesheet">
      <!-- Clockface -->
      <script>
         $(window).ready(function() {
            $('#loading').hide();
         });      
      </script>
      <!-- For Form -->
      <link type="text/css" href="assets/plugins/bootstrap-tokenfield/css/bootstrap-tokenfield.css" rel="stylesheet">
      <!-- Tokenfield -->

      <style type="text/css">
         a.hover {
             color: red;
             text-decoration: none;
         }

         a.hover:hover {
             text-decoration: underline;
         }
      </style>

   </head>
   <body ng-app="pollsApp" ng-controller="pollsController" ng-cloak>
      <div id="loading"></div>
      <header id="topnav" class="navbar navbar-default navbar-fixed-top" role="banner">
         <div class="logo-area">
            <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
            <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
            <i class="ti ti-menu"></i>
            </span>
            </a>
            </span>
            <a class="navbar-brand" href="index.html" style="width: 125px"></a>
            <h1 style="font-size: 18px; font-weight: bold; text-transform: uppercase">{{schoolFancyName}}</h1>
         </div>
         <ul class="nav navbar-nav toolbar pull-right">
            <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
               <a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></i></a>
            </li>
            <li class="dropdown toolbar-icon-bg hidden-xs">
               <a href="#" class="has
                  tions dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-email"></i></span><span
                  class="badge badge-deeporange">2</span></a>
               <div class="dropdown-menu notifications arrow">
                  <div class="topnav-dropdown-header">
                     <span>Messages</span>
                  </div>
                  <div class="scroll-pane">
                     <ul class="media-list scroll-content">
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Vincent Keller</strong> <span class="text-gray">‒ Design should be ...</span></h4>
                                 <span class="notification-time">2 mins ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Frend Pratt</strong> <span class="text-gray">‒ I will start with the ...</span></h4>
                                 <span class="notification-time">40 mins ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Cynthia Hines</strong> <span class="text-gray">‒ Interior bits are ...</span></h4>
                                 <span class="notification-time">6 hours ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Robin Horton</strong> <span class="text-gray">‒ Are you even ...</span></h4>
                                 <span class="notification-time">8 days ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Amanda Torrez</strong> <span class="text-gray">‒ The message is ...</span></h4>
                                 <span class="notification-time">16 hours ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Khan Farhan</strong> <span class="text-gray">‒ Expected the stuff ...</span></h4>
                                 <span class="notification-time">2 days ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-message">
                           <a href="#">
                              <div class="media-left">
                                 <img class="img-circle avatar" src="http://placehold.it/300&text=Placeholder" alt="" />
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading"><strong>Will Whedon</strong> <span class="text-gray">‒ The movie of this ...</span></h4>
                                 <span class="notification-time">4 days ago</span>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="topnav-dropdown-footer">
                     <a href="#">See all messages</a>
                  </div>
               </div>
            </li>
            <li class="dropdown toolbar-icon-bg">
               <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span class="badge badge-deeporange">2</span></a>
               <div class="dropdown-menu notifications arrow">
                  <div class="topnav-dropdown-header">
                     <span>Notifications</span>
                  </div>
                  <div class="scroll-pane">
                     <ul class="media-list scroll-content">
                        <li class="media notification-success">
                           <a href="#">
                              <div class="media-left">
                                 <span class="notification-icon"><i class="ti ti-check"></i></span>
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading">Update 1.0.4 successfully pushed</h4>
                                 <span class="notification-time">8 mins ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-info">
                           <a href="#">
                              <div class="media-left">
                                 <span class="notification-icon"><i class="ti ti-check"></i></span>
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading">Update 1.0.3 successfully pushed</h4>
                                 <span class="notification-time">24 mins ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-teal">
                           <a href="#">
                              <div class="media-left">
                                 <span class="notification-icon"><i class="ti ti-check"></i></span>
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading">Update 1.0.2 successfully pushed</h4>
                                 <span class="notification-time">16 hours ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-indigo">
                           <a href="#">
                              <div class="media-left">
                                 <span class="notification-icon"><i class="ti ti-check"></i></span>
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading">Update 1.0.1 successfully pushed</h4>
                                 <span class="notification-time">2 days ago</span>
                              </div>
                           </a>
                        </li>
                        <li class="media notification-danger">
                           <a href="#">
                              <div class="media-left">
                                 <span class="notification-icon"><i class="ti ti-arrow-up"></i></span>
                              </div>
                              <div class="media-body">
                                 <h4 class="notification-heading">Initial Release 1.0</h4>
                                 <span class="notification-time">4 days ago</span>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="topnav-dropdown-footer">
                     <a href="#">See all notifications</a>
                  </div>
               </div>
            </li>
            <li class="dropdown toolbar-icon-bg">
               <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
               <img class="img-circle" src="http://placehold.it/300&text=Placeholder" alt="" />
               </a>
               <ul class="dropdown-menu userinfo arrow">
                  <li><a href="#/"><i class="ti ti-settings"></i><span>Account Settings</span></a></li>
                  <li><a href="#/" ng-click="logoutNow()"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
               </ul>
            </li>
         </ul>
      </header>
      <div id="wrapper">
         <div id="layout-static">
            <div class="static-sidebar-wrapper sidebar-default">
               <div class="static-sidebar">
                  <div class="sidebar">
                     <div class="widget stay-on-collapse" id="widget-sidebar">
                        <nav role="navigation" class="widget-body">
                           <ul class="acc-menu">
                              <li><a href="index.html"><i class="ti ti-layout-grid2"></i><span>Dashboard</span><span class="badge badge-teal">2</span></a></li>
                              <li><a href="events.html"><i class="ti ti-bell"></i><span>Events & Notifications</span></span></a></li>
                              <li><a href="attendance.html"><i class="ti ti-upload"></i><span>Upload Attendance</span></span></a></li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-reload"></i><span>Workflow</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="leaves.html">Leaves</a></li>
                                    <li><a href="payments.html">Payments</a></li>
                                    <li><a href="service-requests.html">Requests</a></li>
                                 </ul>
                              </li>
                              <li><a href="inbox.html"><i class="ti ti-email"></i><span>Inbox</span></span></a></li>
                              <li><a href="polls.html"><i class="ti ti-bar-chart"></i><span>Polls</span></span></a></li>
                              <li><a href="calendar.html"><i class="ti ti-calendar"></i><span></span>Calendar</span></a></li>
                              <li><a href="student-profile.html"><i class="ti ti-search"></i><span>Search Student</span></span></a></li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-settings"></i><span>Tools</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="home-works.html">Upload Homeworks</a></li>
                                    <li><a href="marklists.html">Upload Marklist</a></li>
                                    <li><a href="messenger.html">Send Message</a></li>
                                    <li><a href="progress-report.html">Progress Report Generator</a></li>
                                    <li><a href="tc-generator.html">TC Generator</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-user"></i><span>Profiles</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="student-profile.html">Students</a></li>
                                    <li><a href="teacher-profile.html">Teachers</a></li>
                                    <li><a href="admin-profile.html">Administrators</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-folder"></i><span>Resources</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="class-management.html">Classes</a></li>
                                    <li><a href="courses.html">Courses</a></li>
                                    <li><a href="time-table.html">Time Tables</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <div class="static-content-wrapper">
               <div class="static-content">
                  <div class="page-content">
                     <ol class="breadcrumb">
                     </ol>
                     <div class="container-fluid">
                        <div data-widget-group="group1">
                           <div class="row">
                              <div class="col-md-6">
                                 
                                 <div class="panel panel-teal" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                                    <div class="panel-heading">
                                       <h2 style="text-transform: none">Polls 
                                       </h2>     
                                       <div style="padding-top:12px;">
                                       <button class="btn btn-default btn-sm pull-right" ng-click="newPoll()">Create New</button>  
                                       </div>      
                                    </div>
                                    <div class="panel-body">
                                       <!-- ngIf: !fetchFlag -->
                                       <!-- ngIf: fetchFlag --><table class="table m-n ng-scope">

                                          <thead>
                                             <tr>
                                                <th style="font-weight: bold;">Poll Id</th>
                                                <th style="font-weight: bold;">Status</th>
                                                <th style="color: #3498db; font-weight: bold;">Title</th>
                                                <th style="color: #e74c3c; font-weight: bold;">Brief</th>
                                                <th style="color: #1abc9c; font-weight: bold;">Poll Reach</th>                                           
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr ng-repeat = "poll in polls" ng-click="showPollStats(poll)">
                                                <td>{{poll.pollId}} </td>
                                                <td>
                                                   <i class="ti ti-thumb-up" aria-hidden="true" style = "color:green;" ng-if="poll.isActive == 1"></i>
                                                   <i class="ti ti-thumb-down" aria-hidden="true" style = "color:red;" ng-if="poll.isActive == 0"></i>
                                                </td>
                                                <td style="color: #3498db;font-weight: 300;">{{poll.title}} <br>
                                                </td>
                                                <td style="color: #e74c3c;font-weight: 300;">{{poll.brief}}<br>
                                                </td>
                                                <td style="color: #1abc9c;"></i>{{poll.responseCount.total}} / {{poll.targetCount}} <br>
                                                </td> 
                                             </tr>                 
                                          </tbody>
                                       </table><!-- end ngIf: fetchFlag -->
                                       <center><button ng-if="isMoreLeft" class="btn btn-default btn-sm" ng-click="loadMore()">Show More</button></center>
                                       <!-- ngIf: fetchFlag --><p style="margin: 0; margin-top: 5px; font-size: 11px; color: #bdc3c7;" class="ng-scope">Summary include only Completed Orders. Live Orders (Pending or Confirmed) are not counted.</p><!-- end ngIf: fetchFlag -->              
                                    </div>            

                                 </div>
         

                              </div>
                              <div class="col-md-6" ng-if="pollSelect">
                                 <div class="panel panel-teal" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                                    <div class="panel-heading">
                                       <h2 style="text-transform: none">{{selectedPoll.title}} Response 
                                       </h2>     
  
                                    </div>
                                    <div class="panel-body" ng-if="isPollResponseFound" ng-repeat="opt in pollOptions track by $index">
                                     
                                                <div class="vam" style="width:100%">
                                                   <h4><strong> {{$index + 1}}. {{opt.value}} | {{opt.count}} </strong></h4>
                                                   <div class="col-md-11">
                                                      <div class="progress m-n">
                                                         <div class="progress-bar progress-bar-success" ng-style="{'width': 100*opt.count/responseCount+'%'}" ng-attr-id="{{'option_'+opt.option}}"></div>
                                                      </div>
                                                   </div>
                                                   <div class="col-md-1">
                                                      <p> {{(100*opt.count/responseCount)| number:0}}% </p>
                                                   </div>
                                                </div>                                             
                                    </div>
                                    <div class="panel-body" ng-if="isPollResponseFound == 0">
                                                   <p><center>{{errorMessage}}</center></p>

                                    </div>            
                                 </div>
                              </div>


                           <!-- NEW POLL Modal -->
               <div class="modal fade" id="pollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-body">
                           <h2>New Poll</h2>
                           <form>
                           <div class="row">
                              <div class="col-sm-5">
                                 <label class="myPollLabel">Poll Title</label>
                                 <input type="text" ng-model="newPollContent.title" class="form-control input-lg" placeholder="Enter a suitable, short title">
                              </div>
                              <div class="col-sm-7">
                                 <label class="myPollLabel">Brief</label>
                                 <input type="text" ng-model="newPollContent.brief" class="form-control input-lg" placeholder="What is your poll about?">
                              </div>
                           </div>
                           <div class="row" style="margin-top: 15px;">
                              <div class="col-sm-5">
                                 <label class="myPollLabel">Poll End Date</label>
                                 <div class="input-group date">
                                    <input type="text" ng-model="newPollContent.endDate" id="pollEndDate" class="form-control">
                                    <span class="input-group-addon"><i class="ti ti-calendar"></i></span>
                                 </div>
                              </div>
                              <div class="col-sm-7">
                                 <label class="myPollLabel">Target</label>
                                 <select ng-model="newPollContent.target" class="form-control" placeholder="">
                                    <option value ="0" selected="">Everyone</option>
                                    <option value ="1">Class Specific</option>
                                    <option value ="2">Section Specific</option>
                                 </select>
                              </div>
                           </div>  
                           <div class="row" style="margin-top: 15px;" ng-if="newPollContent.target != 0">
                              <div ng-if="newPollContent.target == 1" class="col-sm-5">
                                 <label class="myPollLabel">Target Specific</label>
                                 <select ng-model="newPollContent.targetSpecific" class="form-control" placeholder="">
                                    <option disabled="" value="0" selected="">-- Select Class --</option>
                                    <option value ="PKG">PKG</option>
                                    <option value ="LKG">LKG</option>
                                    <option value ="UKG">UKG</option>
                                    <option value ="1">1</option>
                                    <option value ="2">2</option>
                                    <option value ="3">3</option>
                                    <option value ="4">4</option>
                                    <option value ="5">5</option>
                                    <option value ="6">6</option>
                                    <option value ="7">7</option>
                                    <option value ="8">8</option>
                                    <option value ="9">9</option>
                                    <option value ="10">10</option>
                                    <option value ="11">11</option>
                                    <option value ="12">12</option>
                                 </select>
                              </div>
                              <div ng-if="newPollContent.target == 2" class="col-sm-5">
                                 <label class="myPollLabel">Target</label>
                                 <select ng-model="newPollContent.targetSpecific" class="form-control" placeholder="">
                                    <option disabled="" value="0" selected="">-- Select Section --</option>
                                    <option value ="KG">Kindergarten</option>
                                    <option value ="LP">Lower Primary</option>
                                    <option value ="UP">Upper Primary</option>
                                    <option value ="HS">High School</option>
                                    <option value ="HSS">Higher Secondary</option>
                                 </select>
                              </div>
                              <div class="col-md-7" ng-if="newPollContent.target !== '' && newPollContent.targetSpecific !== ''">
                                 <label>Choose your Target from below:  </label>
                                 <input type="text" class="form-control" ng-model="newPollContent.targetAudience" id="tokenfield-typeahead"/>
                                 <p style="margin: 5px 0px 0px 0px; color: #bdc3c7; font-size: 12px;">Leave it blank if the Poll is for everyone.</p>
                                 <p style="font-size: 11px; color: #bdc3c7; margin-top: 5px;">Available Targets:<tag ng-repeat="target in targetList" class="btn btn-info-alt btn-xs" ng-attr-id="{{ 'button1_' + target.value }}" style="margin-left: 4px" ng-click="addTarget(target.value)">{{target.value}}</tag> </p>
                              </div>
                           </div>
                           <div class="row" style="margin-top: 15px;">      
                              <div class="col-sm-6">
                                 <label class="myPollLabel">Poll Options</label>
                                 <input type="text" ng-model="newPollContent.option1" class="form-control" placeholder="Option 1">
                              </div>
                              <div class="col-sm-6">
                                 <label style="color: white;">0</label>
                                 <input type="text" ng-model="newPollContent.option2" class="form-control" placeholder="Option 2">
                              </div>
                           </div>   
                           <br>                           
                           <div class="row" style="margin-top: 15px;">      
                              <div class="col-sm-6">
                                 <input type="text" ng-model="newPollContent.option3" class="form-control" placeholder="Option 3">
                              </div>
                              <div class="col-sm-6">
                                 <input type="text" ng-model="newPollContent.option4" class="form-control" placeholder="Option 4">
                              </div>
                           </div>   
                           <br> 
                           <div class="row" style="margin-top: 15px;">      
                              <div class="col-sm-6">
                                 <input type="text" ng-model="newPollContent.option5" class="form-control" placeholder="Option 5">
                              </div>
                              <div class="col-sm-6">
                                 <input type="text" ng-model="newPollContent.option6" class="form-control" placeholder="Option 6">
                              </div>
                           </div>   
                           <br> 
                           <div class="row" style="margin-top: 15px;">      
                              <div class="col-sm-6">
                                 <input type="text" ng-model="newPollContent.option7" class="form-control" placeholder="Option 7">
                              </div>
                              <div class="col-sm-6">
                                 <input type="text" ng-model="newPollContent.option8" class="form-control" placeholder="Option 8">
                              </div>
                           </div>   
                           <br> 
                           <div class="row" style="margin-top: 15px;">      
                              <div class="col-sm-6">
                                 <input type="text" ng-model="newPollContent.option9" class="form-control" placeholder="Option 9">
                              </div>
                              <div class="col-sm-6">
                                 <input type="text" ng-model="newPollContent.option10" class="form-control" placeholder="Option 10">
                              </div>
                           </div>   
                           <br> 
                           </form>  
                           <p style="font-size: 12px; color:red;"> Leave fields blank if there are no more poll options. </p>
                           <p style="font-size: 12px; color:red;">Fill Options in Order.</p>
                           <p style="color: #e74c3c; font-weight: bold; margin: 10px 0px 0px 0px; text-align: center; padding-bottom: 3%;">{{newContentSaveError}}</p>
                        <div class="modal-footer">                      
                           <button type="button" style="float: left" class="btn btn-default" data-dismiss="modal">Cancel</button>
                           <button type="button" class="btn btn-success" ng-click="createPoll()">Create</button>
                        </div>
                     </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->   

                           </div>
                           
                        </div>
                        
               
               
                        
                        
                     </div>
                     <!-- .container-fluid -->
                  </div>
                  <!-- #page-content -->
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script>                      <!-- Load jQuery -->
      <script type="text/javascript" src="assets/js/jqueryui-1.10.3.min.js"></script>                    <!-- Load jQueryUI -->
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>                       <!-- Load Bootstrap -->
      <script type="text/javascript" src="assets/js/enquire.min.js"></script>                            <!-- Load Enquire -->
      <script type="text/javascript" src="assets/plugins/form-typeahead/typeahead.bundle.min.js"></script>                    <!-- Typeahead for Autocomplete -->
      <script type="text/javascript" src="assets/plugins/velocityjs/velocity.min.js"></script>              <!-- Load Velocity for Animated Content -->
      <script type="text/javascript" src="assets/plugins/velocityjs/velocity.ui.min.js"></script>
      <script type="text/javascript" src="assets/plugins/wijets/wijets.js"></script>                     <!-- Wijet -->
      <script type="text/javascript" src="assets/plugins/codeprettifier/prettify.js"></script>           <!-- Code Prettifier  -->
      <script type="text/javascript" src="assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>       <!-- Swith/Toggle Button -->
      <script type="text/javascript" src="assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->
      <script type="text/javascript" src="assets/plugins/iCheck/icheck.min.js"></script>                    <!-- iCheck -->
      <script type="text/javascript" src="assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->
      <script type="text/javascript" src="assets/js/application.js"></script>
      <script type="text/javascript" src="assets/demo/demo.js"></script>
      <script type="text/javascript" src="assets/plugins/form-validation/jquery.validate.min.js"></script>                 <!-- Validate Plugin -->
      <script type="text/javascript" src="assets/plugins/form-stepy/jquery.stepy.js"></script>                          <!-- Stepy Plugin -->
      <script type="text/javascript" src="assets/plugins/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>          <!-- Tokenfield -->
      <script type="text/javascript" src="assets/demo/demo-formwizard.js"></script>
      <script type="text/javascript" src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> <!-- DateTime Picker --> 
      <script type="text/javascript" src="assets/plugins/easypiechart/jquery.easypiechart.js"></script>                       <!-- Clockface -->

   </body>
</html>